apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{.Values.ingressName}}
  annotations:
    kubernetes.io/ingress.class: nginx
    nginx.ingress.kubernetes.io/rewrite-target: "/"
    nginx.ingress.kubernetes.io/proxy-read-timeout: 3600
    nginx.ingress.kubernetes.io/proxy-send-timeout: 3600
    nginx.ingress.kubernetes.io/websocket-services: "bidservice[,clientservice]"
spec:
  rules:
  - host: {{.Values.hostname}}
    http:
      paths:
      {{- range .Values.pathLinks}}
      - path: {{.pathLink }}
        pathType: {{.type}}
        backend:
          service:
            name: {{.serviceName}}
            port:
              number: {{.servicePort}}
      {{- end}}
