appName: auctionservice
dockerImageName: mahdiboudaouara/auction-management-service
imageTag: 1.0.33-4
replicaCount: 1
containerPort: 3003
containerEnvVars:
  - name: DB_HOST
    value: mysql-primary
  - name: DB_USER
    value: root
  - name: DB_PASSWORD
    value: secret-root-pwd
  - name: DB_NAME
    value: auctiondb
  - name: DB_PORT
    value: "3306"
  - name: AUCTION_PORT
    value: "3003"
  - name: AUCTION_SERVER
    value: "143-42-223-116.ip.linodeusercontent.com"
  - name: CLIENT_PORT
    value: "80"
  - name: BID_PORT
    value: "3002"
  - name: BID_SERVER
    value: "143-42-223-116.ip.linodeusercontent.com"
  - name: CLIENT
    value: "143-42-223-116.ip.linodeusercontent.com"

servicePort: 3003
serviceType: ClusterIP
pvcEnabled: true
claimName: pvc-images-new
volumeName: storage-for-public-new
volumeStorage: 10Gi
storageClassName: "linode-block-storage"
volumeAccessMode: ReadWriteOnce
