appName: userservice
dockerImageName: mahdiboudaouara/user-management-service
imageTag: 1.0.15-24
replicaCount: 1
containerPort: 3004
containerEnvVars:
  - name: DB_HOST
    value: "mysql-primary"
  - name: DB_USER
    value: "root"
  - name: DB_PASSWORD
    value: "secret-root-pwd"
  - name: DB_NAME
    value: "auctiondb"
  - name: DB_PORT
    value: "3306"
  - name: USER_PORT
    value: "3004"
  - name: USER_SERVER
    value: "194-195-247-90.ip.linodeusercontent.com"
  - name: CLIENT_PORT
    value: "80"
  - name: CLIENT
    value: "194-195-247-90.ip.linodeusercontent.com"
  - name: ACCESS_TOKEN_SECRET
    value: "f72636373028229ffdefd0840161533f1f67ab1d9c60c736057bba4c7b72cbc1ffa69f84ff71385b583fb8443504d4a3fd796556a8e5b63e930886b1e4122467"
  - name: Refresh_TOKEN_SECRET
    value: "47a41301a5a8d7c7288bafb123f71c18f3af95f24a5ee0c22b82729adb32d6e55cdddfc9440e3debfe4ea747dcaf16d23429dbff32b3e6286ee77e3820567c80"
  - name: EXPIRES_IN
    value: "60*5"
servicePort: 3004
serviceType: ClusterIP
